*{
    box-sizing: border-box;
}
body{
    background-image: url(img/s3.jpg);
    background-size: cover;
}

a{
    color: white;
    text-decoration: none;

}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.nav{
    background-color: rgb(124, 89, 42);
    padding: 20px 0;
}
ul{
    list-style-type: none;
    padding: 0;
    
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.dropdown{
position: relative;
}
.dropdown__list{
    display: none;
    top: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: aqua;
}
.dropdown:hover{
    cursor: pointer;
}
.dropdown__link{
    
    width: 100%;
    display: inline-block;
    padding: 5px;
    width: 100%;
    height: 100%;
}
.dropdown__link:hover{
    background-color: blueviolet;
}
.active{
    display: block;
}

.search__form{
    width: 70%;
    
    
}

.search__form__item{
    display: flex;
    justify-content: start;
}

.search__input{
    width: 100%;
    padding: 10px;
}

.search__body{   
    display: none;
   
    background-color: brown;
}

.search__item{
    position: relative;
}

.search__item__list{
 position: absolute;
 background-color: rgba(124, 88, 42, 0.836);
}

.search__item__elements:hover{
    background-color: tan;
}

.search__link{
    display: inline-block;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.search__link:hover{
    cursor: pointer;
}

.shop__content{
    text-align: center;
}

.shop__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop__item{
    text-align: center;
    width: 25%;
}
.shop__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-size: cover;

}
.shop__img__bg1{
    background-image: url(img/s6-f1.png);
}

.shop__img__bg2{
    background-image: url(img/s6-f2.png);
}
.shop__img__bg3{
    background-image: url(img/s6-f3.png);
}
.shop__img__bg4{
    background-image: url(img/s6-f4.png);
}
.shop__link{
    padding: 7px;
    display: inline-block;
    background-color: tan;
    opacity: 0;
    transition: 0.4s;
    width: 80%;

}
.shop__img:hover .shop__link{
    opacity: 1;
}